// ========================================================================
//   Button labels (.btn-label: icon area at the start of a button)
// ========================================================================

@use "../bootstrap" as *;

@mixin button-label-size($padding-vertical, $padding-horizontal, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  left: (-1 * $padding-horizontal);
  border-radius: ($border-radius - 1px) 0 0 ($border-radius - 1px);

  &.btn-label-right {
    left: auto;
    right: (-1 * $padding-horizontal);
    border-radius: 0 ($border-radius - 1px) ($border-radius - 1px) 0;
  }
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.btn-label {
  position: relative;
  background: rgba(0, 0, 0, .05);
  display: inline-block;
  @include button-label-size($btn-padding-y, $btn-padding-x, $border-radius);
}

.btn-lg .btn-label {
  @include button-label-size($btn-padding-y-lg, $btn-padding-x-lg, $border-radius-lg);
}

.btn-sm .btn-label {
  @include button-label-size($btn-padding-y-sm, $btn-padding-x-sm, $border-radius-sm);
}
