// ========================================================================
//   Main layout
// ------------------------------------------------------------------------
//  .wrapper (App root, with .layout-fixed)
//    > section
//      > .content-wrapper
// ========================================================================

@use "../bootstrap" as *;

$content-heading-bg: #fafbfc;
$content-heading-border: #cfdbe2;
$content-padding: 20px;
$z-index-main-section: 111;

html {
  direction: ltr;
  height: 100%;
  // https://developer.chrome.com/blog/300ms-tap-delay-gone-away
  touch-action: manipulation;
}

html,
body,
#app {
  height: 100%;
}

@include media-breakpoint-up(md) {
  body {
    min-height: 100%;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;

  > section {
    position: relative;
    height: 100%;
    z-index: $z-index-main-section;
    background-color: $app-content-bg;
  }
}

.modal-open .wrapper {
  z-index: 0;
}

// Page main content
.content-wrapper {
  > h3,
  > .content-heading {
    font-size: $h3-font-size;
    line-height: $headings-line-height;
    color: #929292;
    margin: -15px;
    margin-bottom: 20px;
    padding: 15px;
    font-weight: normal;
    background-color: $content-heading-bg;
    border-bottom: 1px solid $content-heading-border;

    > small {
      display: block;
      font-size: 12px;
      color: $app-text-muted;
    }
  }

  > button,
  > .btn {
    margin: 10px 10px 0 0;
  }

  .container,
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  @include media-breakpoint-up(md) {
    > h3,
    > .content-heading {
      margin: -$content-padding;
      margin-bottom: $content-padding;
      padding: $content-padding;
    }

    > button,
    > .btn {
      margin: 0;
    }
  }
}

.scroll {
  overflow: auto;
}
